.container {
    max-width: 1190px;
    padding-inline: 15px;
    margin-inline: auto;
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

.hidden-mobile {
    @include mobile {
        display: none !important;
    }
}

.logo {
    color: var(--color-light);
    transition: var(--transition-duration);

    @include hover {
        &:hover {
            opacity: 0.7;
        }        
    }    
}

.logo svg {
    @include mobile { 
        width: 82px;
        height: 17px;            
    }       
}

.section {
    padding-block: var(--section-padding-y);

    &--grey-bg {
        background-color: var(--color-light-grey);
    }

    @include tablet {
        padding-block: 100px; 
    }

    @include mobile-s {
        padding-block: 70px; 
    }
}

.title {
    @include fluid-text(49, 32);

    font-family: var(--font-family-accent);
    letter-spacing: 0.03em;    
    white-space: nowrap;
    text-transform: uppercase;

}

.border-gradient {
    border: 7px solid var(--color-light);
    
    &:focus {
        border: 7px solid;
        border-image: linear-gradient(141deg, #d10a42 22%, #103aae 74%);
        border-image-slice: 7;
    }

    @include hover {
        &:hover {
            border: 7px solid;
            border-image: linear-gradient(141deg, #d10a42 22%, #103aae 74%);
            border-image-slice: 7;                                    
        }
        
        &:active {
            border: 7px solid;
            border-image: linear-gradient(141deg, #d10a42 22%, #103aae 74%);
            border-image-slice: 7;
        }
    }      
}







