@keyframes moving {
    from {transform: translateX(50px); opacity: 0;} 
    to {transform: translateX(0); opacity: 1;}   
}

.tabs-content-wrapper {
    display: none;
    animation: moving .5s ease;    
}

.tabs-content-wrapper.active {
    display: block;
}

.container-tabs {
    position: relative;
    display: flex;
    column-gap: 46px;
    border-bottom: 2px solid rgba(120, 120, 120, 0.2);
    
    
    @include tablet-s {
        column-gap: 54px;
    }

    @include mobile-s {
        column-gap: 45px;
    }
}

.tab-btn {
    font-size: 20px;
    color: rgba(16, 38, 84, 0.5);
    cursor: pointer;

    &.active {
        color: var(--color-dark-blue);
    }


    @include tablet-s {
        font-size: 18px;
    }

    @include mobile-s {
        font-size: 16px;
    }
}

.tabs-line {
    position: absolute;
    width: 67px;
    height: 2px;
    top: 30px;
    left: 0;
    background-color: #D10A42;
    transition-duration: var(--transition-duration);


    @include tablet-s {
        top: 27px;
    }

    @include mobile-s {
        top: 24px;
    }
}

.tabs-content-wrapper {
    align-self: stretch;


    @include desktop {
        align-self: center;
    }
}

.tabs-content {
    position: relative;
    z-index: 1;       
    display: grid;
    grid-template-columns: repeat(3, 1fr);    
    gap: 40px;


    @include desktop {
        grid-template-columns: repeat(2, 1fr);
    }

    @include tablet-s {
        grid-template-columns: repeat(1, minmax(0, 442px));
    }

    @include mobile-s {
        row-gap: 35px;
    }


    &__plan {
        display: inline-flex;        
        flex-direction: column;
        align-items: center;
        padding: 68px;
        background-color: var(--color-light);
        
        
        @include mobile-s {
            padding: 55px 42px;
        }
    }

    &__title {
        margin-bottom: 22px;
    }

    &__period {
        color: #495A7D;
        margin-bottom: 96px;
    }

    &__price-wrapper {
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 60px;
        font-weight: 700;
        color: var(--color-blue);
        line-height: 1;
        margin-bottom: 59px;
        white-space: nowrap;


        @include mobile-s {
            font-size: 48px;
        }
    }

    &__price {
        position: relative;
        z-index: 2;        

        &-bg {            
            position: absolute;
            top: 10%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 100px;
            color: var(--color-grey-alt);
            z-index: -1;
            pointer-events: none;
            
            
            @include mobile-s {
                font-size: 80px;
            }
        }

        & svg {
            @include mobile-s {
                width: 24px;
                height: 33px;
            }
        }
    }
    

    &__buy-btn {
        padding: 27px 45px;
        align-items: center;
        
        
        @include tablet-s {
            max-width: 206px;
        }        
    }   
}