.equipment {
    position: relative;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    padding-bottom: calc(235px - var(--section-padding-y));


    @include tablet {
        flex-direction: column;        
        text-align: center;
        row-gap: 50px;
        padding-bottom: 83px;        
    }

    @include mobile-s {        
        row-gap: 40px;
        padding: 0;
    }
    
    &__description {
        max-width: 355px;
        margin-left: 58px;


        @include desktop {
            margin-left: 0;
        }

        @include tablet {
            max-width: 502px;                       
        }

        @include mobile-s {
            max-width: 100%;
            text-align: start;
            padding-inline: 15px;                       
        }
        
    }

    &__title {
        margin-bottom: 25px;
        line-height: 1;
        
        
        @include mobile-s {
            margin-bottom: 20px;                       
        }
    }

    &__subtitle {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 45px;


        @include tablet {
            margin-bottom: 40px;
        }

        @include mobile-s {
            margin-bottom: 35px;                       
        }
    }

    &__text {
        font-weight: 300;        

        & p {
            @include mobile { 
                margin-block: 0;            
            }  
        }
    }

    &__image-wrapper {
        flex-shrink: 0;               


        @include tablet {
            position: relative;                       
        }
        
        @include mobile-s {
            display: contents;                       
        }
    }

    &__image img {
        max-width: 100%;
        height: 100%;
        aspect-ratio: auto;            
    }

    &__video-wrapper {
        position: absolute;
        left: 38%;
        bottom: 0;        
        
        
        @include tablet {
            max-width: 266px;                        
            left: 50%;            
            bottom: -25%;
            transform: translate(-50%);
        }

        @include mobile-s {
            position: relative;            
            max-width: 100%;
            left: 0;            
            bottom: 0;
            transform: translate(0);                                                                                                                     
        }

        & iframe {
            width: 100%;                        
            aspect-ratio: 16 / 9;
        }
    }
    
    &__video {
        @include tablet { 
            width: 100%;                                               
        }       

    }

    &__video-play-button {       
        position: absolute;
        padding: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition-duration: var(--transition-duration);

        
        &::after {
            content: '';
            background: url('../../assets/icons/play-btn.svg') center/contain no-repeat;            
            display: block;
                        
            @include square(100px);


            @include tablet {
                @include square(73px);
            }
        }

        @include hover {
            &:hover {
                scale: 1.1;
            }        
        }        
    }    
}


