@keyframes underline-grow {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes highlight-sweep {
    0% {
        left: -50%;
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        left: 100%; 
        opacity: 0;
    }
}



.buy-modal {
    background-color: var(--color-dark-blue);     
    max-width: 500px;
    width: 100%;    
    border: none;
    border-radius: 30px;    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;    
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%) rotate(-45deg);
    transition: opacity 0.4s ease, visibility 0.4s ease, transform 0.5s ease-in-out;

    
    &.is-animated {
        opacity: 1;
        visibility: visible;
        transform: translateY(0) rotate(0);
    }    


    @include mobile-s {
        padding: 5px;   }    


    &::backdrop {
        background-color: rgba(0, 0, 0, 0.7);
        filter: blur(15px);        
    }

    &__form {               
        padding: 70px 40px 50px;
        color: var(--color-light);        

        & label {            
            font-size: 14px;
            color: var(--color-grey-alt);             
        }
    }

    &__close-btn {
        @include square(36px);
        
        position: absolute;
        top: 5%;
        right: 10%;        
        cursor: pointer;
        border: none;
        outline: none;
        background-color: transparent;        

        @include hover {
            opacity: 0.6;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 10px;
            width: 70%;
            height: 2px;
            background-color: var(--color-light);
            border-radius: 5px;
        }

        &::before {
            rotate: 45deg;
        }

        &::after {
            rotate: -45deg;
        }
    }

    &__input-wrapper {
        position: relative;
        width: 100%;        
    }

    &__input {        
        padding: 5px;
        width: 100%;
        border: none;        
        height: 40px;
        border: none;                      
        border-bottom: 1px solid #74819C;
        color: var(--color-light);        
        margin-bottom: 20px;
        outline: transparent;
        background-color: transparent;
        transition: all var(--transition-duration) ease;        

        &:focus {
            animation: underline-grow 0.6s ease forwards;
        }
                
        &:hover ~ label,
        &:focus ~ label,
        &:valid ~ label {
            font-size: 14px;
            transform: translateY(-25px);
            color: #74819C;
        }

        &:focus,
        &:active {
            border-bottom: 2px solid var(--color-grey-alt);
        }       
    
    }
    
    
    &__user-name,
    &__user-last-name,
    &__user-phone,
    &__user-email {
        position: absolute;
        left: 5px;
        top: 10px;        
        transition: all 0.5s ease;
        pointer-events: none;
    }   

    &__submit-btn {        
        position: relative;
        padding: 21px;
        width: 100%;
        margin-top: 40px;
        background-color: transparent;
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            top: 0;
            left: -50%; 
            width: 50%;
            height: 100%;
            background: linear-gradient(
                120deg,
                rgba(255, 255, 255, 0) 0%,
                rgba(237, 2, 51, 0.8) 50%, 
                rgba(255, 255, 255, 0) 100%
            );
            transform: skewX(-30deg); 
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        &.animate::before {
            animation: highlight-sweep 3s ease forwards 0.3s;
        }
    }
        
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 15px;
        text-align: center;
        margin-bottom: 30px;
        color: var(--color-grey-alt);
    }

    &__price-wrapper {
        font-size: 20px;
        font-weight: 700;
        color: var(--color-accent);        
    }
}






















