.header {    
    background: conic-gradient(from 150.87deg at 17.03% 39.06%, #B80027 -46.69deg, #003D85 32.24deg, #B80027 313.31deg, #003D85 392.24deg);
    

    @include desktop-l {
        background: conic-gradient(from 150.87deg at 31.00% 41.06%, #B80027 -46.69deg, #003D85 32.24deg, #B80027 313.31deg, #003D85 392.24deg);
    }

    @include desktop-m {
        background: conic-gradient(from 150.87deg at 17.00% 41.06%, #B80027 -46.69deg, #003D85 32.24deg, #B80027 313.31deg, #003D85 392.24deg);
    }    

    @include desktop {
        background: conic-gradient(from 150.87deg at 13.03% 48.06%, #B80027 -46.69deg, #003D85 32.24deg, #B80027 313.31deg, #003D85 392.24deg);
    }

    @include tablet {
        background: conic-gradient(from 150.87deg at 13.03% 45.06%, #B80027 -46.69deg, #003D85 32.24deg, #B80027 313.31deg, #003D85 392.24deg);
    }

    @include tablet-s {
        background: conic-gradient(from 150.87deg at 18.03% 37.06%, #B80027 -46.69deg, #003D85 32.24deg, #B80027 313.31deg, #003D85 392.24deg);
    }

    @include mobile {
        background: conic-gradient(from 150.87deg at 43.03% 40.06%, #B80027 -46.69deg, #003D85 32.24deg, #B80027 313.31deg, #003D85 392.24deg);
    }
    
    &__inner {
        padding-block: 30px 51px;
        

        @include tablet-s { 
            padding: 40px 45px 80px;            
        }

        @include mobile { 
            padding: 20px 15px 80px;            
        }
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;       
    }

    &__link {
        font-family: var(--font-family-accent);       
        font-size: 26px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        transition: var(--transition-duration);

        @include hover {
            &:hover {
                color: var(--color-dark-blue);
            }        
        }


        @include mobile { 
            font-size: 24px;            
        }       
    }    

    &__body {        
        display: flex;
        justify-content: space-between;       
        column-gap: 64px;
        align-items: end;

        
        @include tablet {
            column-gap: 30px;            
        }
        
        @include mobile {
            justify-content: center;                       
        }
    }

    &__description {        
        display: inline-grid;
        row-gap: 10px;
        grid-template-columns: auto auto;                               
        color: var(--color-light);
        text-align: right;
                
                
        @include tablet-s {
            white-space: nowrap;            
        }

        @include mobile { 
            padding-top: 80px;            
        }
    }

    &__title-area {
        @include fluid-text(49, 28);

        font-family: var(--font-family-accent);
        letter-spacing: 0.03em;
        line-height: 1;        
        grid-column: -1 / 2;
        text-transform: uppercase;        
    }
    
    &__title {
        @include fluid-text(109, 78);
        
        grid-column: span 2;        
        text-transform: uppercase;        
        line-height: 1;
        font-weight: 700;
        font-family: var(--font-family-accent);        
        letter-spacing: 0.03em;
        margin-bottom: -0.15em;        
        
        
        @include tablet-s {
            white-space: nowrap;            
        }        
    }

    &__title-center {
        @include fluid-text(109, 78);        
                
        font-family: var(--font-family-accent);
        letter-spacing: 0.03em;       
        text-transform: uppercase;
        font-weight: 700;
        line-height: 1;              
    }
    
    &__description-list {              
        grid-row: 3 / 4;
        align-self: center;        
        margin-right: 20px;        
    }

    &__description-item {
        font-size: 14px;        
    }
    
    &__image {
        flex-shrink: 0;        
    }

    &__description-button {
        grid-column: -1 / 2;        
        padding-inline: 33px;
        height: 57px;
        margin-block: 65px 45px;             


        @include tablet-s {
            margin-block: 45px 25px;
        }

        @include mobile {
            margin-top: 40px;
            grid-column: -1 / 1;           
        }
    }

    &__soc1al-list {
        flex-grow: 1;
        align-items: end;        
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        margin-bottom: 45px;
        color: var(--color-light);
        

        @include tablet-s {
            display: none;            
        }
        
    }

    &__soc1al-item {
        font-size: 12px;
        text-transform: uppercase;
        transition: var(--transition-duration);

        @include hover {
            &:hover {
                opacity: 0.7;
            }        
        }
    }
    
}












