// @keyframes holographic {
//     0% {
//         background-position: 0% 50%;
//     }
//     50% {
//         background-position: 100% 50%;
//     }
//     100% {
//         background-position: 0% 50%;
//     }
// }


.footer {
    background-color: var(--color-dark);
    // background: linear-gradient(45deg, rgb(3, 10, 26) 48%, rgb(24, 25, 39) 50%);
    background-size: 200% 200%; //
    animation: holographic 5s infinite; //

    &__inner {
        padding-block: 42px;
        display: flex;        
        justify-content: space-between;
        align-items: center;
        column-gap: 43px;


        
        @include mobile {
            padding-inline: 15px;
        }
        
        @include mobile-m {
            flex-direction: column;
            row-gap: 40px;
        }
        
        @include mobile-s {
            align-items: flex-start;
            padding-inline: 0; 
        }
    }

    &__navigation-wrapper {        
        flex-grow: 1;        
        max-width: 50rem;       
        
        

        @include desktop {
            max-width: 33rem;
        }

        @include mobile-m {
            flex-direction: column;
            row-gap: 40px;
        }
    }

    &__logo {
        flex-grow: 1;        
        align-self: flex-end;     
        margin-right: 32px;



        @include mobile-ss {
            margin-right: 0;
        }                
    }

    &__logo svg {  

        @include tablet-s {
            width: 82px;
            height: 18px;
        }

        @include mobile-ss {
            width: 68px;
            height: 15px;
        }
    }

    &__soc1al-list {                        
        display: flex;        
        align-items: center;
        column-gap: 25px;



        @include mobile {
            column-gap: 20px;
        }
        
        @include mobile-m {
            column-gap: 35px;
        }
    }

    &__soc1al-item {
        transition-duration: var(--transition-duration);

        @include hover {
            opacity: 0.8;
        }
    }
}

.soc1al-link--vk svg {
    @include mobile-m {
        width: 32px;
        height: 17px;
    }
}

.soc1al-link--inst svg {
    @include mobile-m {
        width: 27px;
        height: 27px;
    }
}

.soc1al-link--fb svg {
    @include mobile-m {
        width: 14px;
        height: 27px;
    }
}

.menu {    
    
    &__list {        
        display: flex;                
        align-items: center;        
        column-gap: 40px;

        

        @include mobile {
            column-gap: 30px;
        }

        @include mobile-s {
            display: grid;
            grid-template-rows: repeat(3, auto);
            gap: 15px 70px;
            grid-auto-flow: column; 
        }
    }

    &__item {
        color: var(--color-light);
        font-size: 14px;
        padding-block: 5px;
        transition-duration: var(--transition-duration);

        @include hover {
            color: var(--color-blue);
        }
    }
}
